<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring" xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring
http://mybatis.org/schema/mybatis-spring-1.2.xsd http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <!-- 数据源 -->
    <context:property-placeholder location="classpath:database.properties"/>
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 事务管理器 -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 基于注解的事务管理 -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!--	配置 SqlSessionFactoryBean
     <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
      原始的配合我们使用的mybaits,但是引入mybatis的jar怎么就能用了?
      我们导入mybatis-plus,这个依赖自动帮我们导入，查询Diagrams->show Dependencey就可以看到
      现在我们如何继承mybatis-plus?
      只需要更改 org.mybatis.spring.SqlSessionFactoryBean
      换成：com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean

     -->
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 别名处理 -->
        <property value="cn.cn.kgc.mp.entity" name="typeAliasesPackage"/>

        <!--引入全局策略-->
        <property name="globalConfig" ref="globalConfiguration"/>

        <!--注冊插件-->
        <property name="plugins">
            <list>
                <!--分頁插件-->
                <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor"/>
                <!--注册执行分析插件-->
                <bean class="com.baomidou.mybatisplus.plugins.SqlExplainInterceptor"/>
                <!--注入性能分析插件-->
                <bean class="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
                    <property name="format" value="true"/>
                </bean>
                <!--注册乐观锁插件-->
                <bean class="com.baomidou.mybatisplus.plugins.OptimisticLockerInterceptor"/>
            </list>
        </property>
    </bean>
    <!--
    配置 mybatis 扫描 mapper 接口的路径
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.kgc.mapper"/>
    </bean>

    <!--全局策略配置-->
    <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
        <!--配置匹配表名前缀-->
        <property name="tablePrefix" value="tbl_"/>
        <!--配置主键策略-->
        <property name="idType" value="0"/>
        <!--驼峰命名规则-->
        <property name="dbColumnUnderline" value="true"/>
    </bean>

</beans>
